
.body{        
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: dimgray;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#ul{
    margin: 0;
    padding: 0;
}
.dark{
    padding: 15px;
    background: darkslategray;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button_1{
    height: 38px;
    background-color: rgb(128, 158, 158);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(252, 246, 246);
}
header{
    background:#35424a;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #35424a;
}
header a{
    color: #b8afaf;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float:left;
}
header #brading h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: burlywood;
    font-weight: bold;
}
#header a:hover{
    color: #cccccc;
    font-weight: bold;
    direction: none;
}
#showcase{
    min-height: 650px;
    background: url('../img/GIF.gif');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgb(245, 246, 248);
}
#showcase h1{
    margin-top: 100px;
    font-size: 60px;
    bottom: 10px;
    color: rgb(230, 233, 236);
}
#showcase p{
    padding-top: 450px;
    font-size: 40px;
}
#button{
    padding: 15px;
    color: #cccccc;
    background: #35424a;
}
#button .img2{
    width: 100px;
    height: 200px;
    display: flex;
    object-fit: cover;
    padding: 15px;
}
#box{
    margin: 0%;
}
#box .box{
    font-size: 20px;
}
#box{
    display: inline;
    text-align: center;
    width: 20px;
    padding: 10px;

}
#box .box img{
    width: 500px;
}

#box1 .container{
    display: inline;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
}
#showcase1 .container1{
    text-align: center;
    margin-top: 20px;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container1 img{
    width: 20%;
    height: 200px;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255,255,255,0.684);
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
article#main-col{
    float: left;
    width: 65%;
}
footer{
    padding: 20px;
    margin-top: 20px;
    border:#ffffff ;
    background-color: slategray;
    text-align: center;
}
@media(max-width: 768px){
    header #brading,
    header nav,
    header nav li,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    #button h1{
        float: none;
        text-align: center;
        width: 100%;
    }  
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #button button, .quote button input, .quote textarea{
        width: 100%;
      margin-bottom: 5px;
    }
} 